.v-application .rounded-xl {
    border-radius: 12px !important;
}

#myScroll {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}



.mytestcard  {
    position: relative;
    bottom: 0px;
    height: 160px;
    width: fit-content;
    overflow: hidden;
     

 
}
.text-wrap {
    overflow-wrap: normal;
    width: 48%;
  
  }
  .text-wrap-sub {
    overflow-wrap: normal;
    width: 100%;
  
  }
  .mygredient > .v-input__control > .v-input__slot {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(130, 210, 218, 0.6) 100%);
  }

  .v-text-field__slot > input {
    padding: 0px !important;

  }
  .polyicon {
    position: absolute;
left: 8px;
top: 10px;
width: 30px;
height: 30px;
  }
 .testHead {
    word-break: break-word !important;
 }
  .v-btn__content {

    width: 100% !important;
    text-align: initial !important;
    padding: 8px !important;
    word-break: break-word !important;
  }
.movingcard {
    position: relative;
    bottom: -55px;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: all 300ms 0s ease;
}

.movingcard :hover {
    position: relative;
    bottom: 10px;
}
.mytestcard :hover {
      bottom: 10px;

}
.slideparent {
    padding-bottom: 20px;
    background-color: #faf8ed;

}
body {
    background-color: #faf8ed !important;
}
.phoneprefix {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: center;
    padding-left: 4px;
    -ms-overflow-style: none;
    cursor: pointer;
    /* IE and Edge */

}

.cursor {
    cursor: pointer;
}

#countrylist {
    width: 216px;
    height: 243px;
    background-color: white;
    position: absolute;
    bottom: -142px;
    left: 79px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    scrollbar-width: none;
    overflow-y: scroll;

}

.ctNameIcon {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    cursor: pointer;
}

.ctimg {
    padding-left: 5px
}

.ctname {
    padding-left: 8px
}

.ctCode {
    padding-left: 20px
}

.myinput {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 12px;
}

.countrylist {
    max-width: 300px;
    position: absolute;
    bottom: -104px;
    left: 45px;
}

.no-outline:focus {
    outline: none;
}

.seperater {
    width: 1px;
    height: 27px;
    background-color: grey;
}
.camerabtn {
    position: relative !important;
bottom: -26px;
left: -31px;
z-index: 10;
}

.phoneNo {
    width: 100%;
    height: 56px;
    border: 1px solid grey;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: center;
    position: relative;
}

.v-stepper__header {
    height: 72px;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: unset
}

#circleCard {
    position: sticky;
    top: 0px;
    z-index: 2;
}
.m-body {
    width: 100%;
    height: calc(100vh - 65px) !important;

}
.m-center {
    justify-content: center !important;
    align-items: center !important;
}
.m-btn {
    border: 1.5px solid rgba(0, 0, 0, 0.2) !important;
border-radius: 8px;
}
.c-b-t {

height: 11px;

font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 11px;

/* identical to box height */
letter-spacing: 0.02em;

color: rgba(0, 0, 0, 0.8);
}
.w-100 {
    width: 100%;
}
.c-b-t-m {
    width: 145.92px;
height: 18px;

font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 15px;
letter-spacing: 0.02em;

color: rgba(0, 0, 0, 0.8);
white-space: nowrap; 

  overflow: hidden;
  text-overflow: ellipsis;
}

#myScroll::-webkit-scrollbar {
    display: none;
}

.centered-input>>>input {
    text-align: center;
}

#mycard {
    height: 90vh;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.v-slide-group__prev > .v-icon {
    margin-bottom: -70px !important;
}
.v-slide-group__next > .v-icon {
    margin-bottom: -70px !important;
}

.v-list-item--link:before {
    background-color: unset;

}